---
Checks: '*,
         -abseil*,
         -altera*,
         -android*,
         -fuchsia*,
         -google*,
         -llvm*,
         -zircon*,
         -*use-trailing-return-type,
         -*signed-bitwise,
         -*magic-numbers,
         -*vararg,
         -*uppercase-literal-suffix,
         -*type-union-access,
         -*readability-identifier-length'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: llvm
