# Cache/options used by clangd
.clangd
.cache

# clang-power-tools
CPTCMakeBuild

# IntelliJ IDEA
.idea
*.iml

# Visual Studio and VS Code
.vs
.vscode

# Build directories
build
out
cmake-build*

# Doxygen documentation
Dox

# Conan imports for imgui
bindings

# CMake build configuration
CMakeSettings.json
CMakeUserPresets.json
compile_commands.json

# Git
*.stackdump
